<template>
    <div>
        Brew Home
        <brew-thumbnail
                :brew="x"
                v-for="(x, index) in brewList"
                :key="'brew-'+index"></brew-thumbnail>
    </div>
</template>

<script>
import * as brewService from '../services'
import BrewThumbnail from './BrewThumbnail'
export default {
    name: "BrewHome",
    components: {
        BrewThumbnail
    },
    methods: {
        getAllBreweries () {
            brewService.getAllBreweries()
                .then(
                    (response) => {
                        this.brewList = response.data
                    }
                )
        }
    },
    data () {
        return {
            brewList: []
        }
    },
    created () {
        this.getAllBreweries();
    }
}
</script>

<style scoped>

</style>
