<template>
    <div>
        {{brew.name}}<br/>
        {{brew.brewery_type}}<br/>
        {{brew.city}}
        <hr/>
    </div>
</template>

<script>
export default {
    name: "BrewThumbnail",
    props: {
        brew: {
            required: true
        }
    }
}
</script>

<style scoped>

</style>
